body{
    background-color: aqua;
}
 /* section space */
.section_1{
    background-color: grey;
}

.section_2{
    background-color: hotpink;
}

.section_3{
    background-color: indigo;
}